.account-container {
  background-color: #fff;
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid #ddd;
  min-height: 100vh;
}

.account-header {
  background-color: #004d80;
}

.profile-section {
  background-color: #fff;
}

.profile-icon {
  background-color: #008ad3;
  width: 40px;
  height: 40px;
}

.account-container .section-title {
  background-color: #f8f9fa;
  color: #333;
  letter-spacing: 0.5px;
}

.link-item {
  background-color: #fff;
}

.link-icon {
  /* background-color: #e9ecef; */
  width: 36px;
  height: 36px;
}

.small {
  font-size: 0.9rem;
}

.xsmall {
  font-size: 0.78rem;
}

.logout-btn {
  background-color: #00aaff;
}

.logout-btn:hover {
  background-color: #0090dd;
}
.logout-container {
  position: sticky;
  bottom: 0;
  background-color: rgb(11, 83, 161);
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
  z-index: 2;
}

.logout-btn {
  background-color: rgb(11, 83, 161);
  transition: background-color 0.3s ease;
}


.new-text {
  color: white;
  background-color: red;
  font-size: xx-small;
  padding: 3px 6px;
  border-radius: 25px;
  animation: smoothColorChange 2s ease-in-out infinite alternate;
  transition: background-color 1s ease-in-out;
}


/* 🌈 Smooth color animation */
@keyframes smoothColorChange {
  0% {
    background-color: #e63946; /* soft red */
  }
  100% {
    background-color: #1d4ed8; /* calm blue */
  }
}

